<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="LINQ_test.Properties.Settings.BoomDBConnectionString"
      connectionString="Data Source=KIM_PC\SQLEXPRESS;Initial Catalog=BoomDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BoomDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Kim_PC\SQLEXPRESS;Initial Catalog=BoomDB;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LINQ_test.Properties.Settings.ClientBoomDBConnectionString"
      connectionString="Data Source=|DataDirectory|\BoomDB.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="LINQ_test.Properties.Settings.BoomDBConnectionString1"
      connectionString="Data Source=Kim_PC\SQLEXPRESS;Initial Catalog=BoomDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>